.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.u-desc-title {
  background: #474a4f;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  border-radius: 10px 10px 0 0;
  padding-left: 1em;
}
.u-desc-title .other {
  float: right;
  margin: 8px;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  border-radius: 5px;
  background: #ff5252;
  border: none;
}
.u-desc-title .other:hover {
  background: #dd2c00;
}
.u-list-count {
  margin-left: 6px;
  display: inline-block;
  background: #ff5252;
  font-size: 14px;
  color: #fff;
  width: 22px;
  line-height: 22px;
  text-align: center;
  border-radius: 50%;
}

@media all and (max-width: 600px) {
  .u-desc-title {
    border-radius: 0;
  }
  .u-publish .ct {
    padding: 10px;
  }
}
